<!-- build:remove -->
<%= t.include("partials/_top.html") %>
<!-- /build -->
<!-- build:css inline -->
<link rel="stylesheet" type="text/css" href="style.css">
<!-- /build -->





<!-- Code that goes within WCM Freeform -->

<div class="refuge-wrapper">
	<div class="refuge-container">

		<div class="flex-left">
			<div class="subhead">
				<h1>Bar Stars 2017</h1>The 2017 class of Bar Stars reflects the fact that great cocktails are today being made in every genre of establishment. These five bartenders work in Italian restaurants (Beretta; 54 Mint), in 100-year-old sailor hangouts (the Sea Star), in hotels (Dirty Habit). Even in a bar (Pagan Idol) where faux volcano periodically erupts and scorpion bowls are served aflame — yes, a bar that’s that kitschy — can churn out world-class cocktails.<br><div class="dtf-btn">Read the stories</div>
			</div>
		</div>

		<div class="flex-right">
			<img src="https://hearst.merlinone.net/mx/thumbs2017/tdir30611/ax066_439c_9.jpg">
		</div>

	</div>
</div>

<script>$(".dtf-btn").click(function() {
  $('html,body').animate({
     scrollTop: $(".hc_sub_topstories").offset().top
  });
});</script>








<!-- build:remove -->
<%= t.include("partials/_bottom.html") %>
<!-- /build -->

